<div class="maint-body">
  <h2>Site under maintenance</h2>
  <p>Choose a section below</p>
  <div class="maint-body-inner">
    <a href="https://support.portal.exclaimer.com" class="maint-button">Exclaimer Cloud</a>
    <a href="https://legacy.support.exclaimer.com" class="maint-button">Exclaimer Legacy</a>
  </div>
</div>