<div class="maint-page">
  <div class="maint-page-banner">
    <h2>We're currently doing<br/>some work to our<br/>Knowledge Base</h2>
    <h3>We will be right back, check below for more information.</h3>
  </div>
</div>