<div class="maint-body">
  <h2>Site under maintenance</h2>
  <p>If you need support, please select your product range below</p>
  <div class="maint-body-inner">
    <a href="https://support.exclaimer.com" class="maint-button">Exclaimer Cloud</a>
    <a href="https://legacy.support.exclaimer.com" class="maint-button">Exclaimer On-Prem</a>
  </div>
</div>