<div class="cp-header"><h1>Exclaimer Cloud Signatures</h1></div>
<div class="cp-container">
  <div class="cp-container-header">
    <h2>Welcome</h2>
    <p>If your organisation is subscribed to Exclaimer Cloud - Signatures for Microsoft 365 and wishes to use Client-Side signatures, the deployment options are found below. Please select the one suited best to your environment or deployment method and follow the installation instructions.</p>
  </div>
  <div class="cp-container-body">
    <div class="cp-container-body-item">
      <h3 class="outlook-addin">Outlook Add In</h3>
      <h4>Sutiable for</h4>
      <p>Desktop Outlook on Windows and OWA</p>
      <p>Individual, Group or Full Tenant deployments from the Microsoft 365 admin console.</p>
      <h4>Version</h4>
      <p>1.6.200.7</p>
      <h4>Requirements</h4>
      <table>
        <tr>
          <td style="width:33%;">Software:</td>
          <td>
            <ol>
              <li>Windows 10 or above</li>
              <li>Outlook for Microsoft 365*</li>
              <li>Outlook Web</li>
              <li>Office for macOS 16.64 (22081401)</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>Permissions (Per User):</td>
          <td>
            <ol>
              <li>No specific permissions</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>Permissions (All Users):</td>
          <td>
            <ol>
              <li>Microsoft 365 Admin</li>
            </ol>
          </td>
        </tr>
      </table>
      <a aria-role="button" class="cp-btn" target="_blank" href="https://appsource.microsoft.com/en-us/product/office/WA200004512?embedHost=admin-portal">Install from App Store ></a>
      <div class="cp-star">
        * Outlook Click-To-Run version 2108 (build 14326.20258) or later is required
      </div>
      <h4>Installation</h4>
      <p>To allow your users to apply signatures using the Outlook Add-in please install the add-in through the Exchange Admin Center.</p>
      <p>Full installation instructions can be found <a href="https://support.portal.exclaimer.com/hc/en-gb/articles/360020741398">here</a></p>
      <p>If you are using the older Manifest file, please see the guide <a href="https://support.portal.exclaimer.com/hc/en-gb/articles/6420946508829-Migrate-Exclaimer-Cloud-Outlook-Add-in-from-Manifest-to-App-Store">here</a> on how to migrate to the new App Store release</p>
    </div>
    <div class="cp-container-body-item">
      <h3 class="desktopagent-windows">Desktop Agent (Windows)</h3>
      <h4>Suitable For</h4>
      <p>Desktop Outlook on Windows machines only.</p>
      <p>Individual or 'All Users' machine deployment via local MSI installation, CMD Script or Group
        Policy.</p>
      <h4>Version</h4>
      <p>1.18.22294.00001</p>
      <h4>Requirements</h4>
      <table>
        <tr>
          <td style="width:33%;">Software:</td>
          <td>
            <ol>
              <li>Windows 8.1 or above</li>
              <li>Outlook 2013 or above</li>
              <li>.NET Framework 4.6.2 or above</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>Permissions (Per User):</td>
          <td>
            <ol>
              <li>Local Installation Rights</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>Permissions (All Users):</td>
          <td>
            <ol>
              <li>Domain Administrator (MSI Only)</li>
            </ol>
          </td>
        </tr>
      </table>
      <div class="cp-download">
        <a aria-role="button" class="cp-btn" href="https://outlookclient.exclaimer.net/csua/Exclaimer.CloudSignatureAgent.application">Download Click-Once ></a>
        <a aria-role="button" class="cp-btn" href="https://outlookclient.exclaimer.net/csua/Exclaimer.CloudSignatureUpdateAgent.Install.msi">Download MSI ></a>
      </div>
      <h4>Installation</h4>
      <p>To install the Outlook Signatures Update Agent, please click on the "Download for Windows" button. Once downloaded, the installation will begin. Once the agent is installed, you will be prompted to sign in to Office 365 to grant permissions for the agent. Any signatures assigned to you will then automatically be downloaded for you to use in Outlook.</p>
			<p>If you are an administrator who would like to install the agent via GPO, then you can download the MSI package for the Outlook Signature Update Agent, using <a href="https://outlookclient.exclaimer.net/csua/Exclaimer.CloudSignatureUpdateAgent.Install.msi">this link</a>. For help installing via GPO please see our KB <a href="https://go.exclaimer.com/209">here</a></p>
    </div>
    <div class="cp-container-body-item">
      <h3 class="desktopagent-mac">Desktop Agent (macOS)</h3>
      <h4>Suitable For</h4>
      <p>Desktop Outlook for Mac or Apple Mail only.</p>
      <p>Individual deployment via local machine installation, or deployed via Intune.</p>
      <h4>Version</h4>
      <p>1.1.0.83</p>
      <h4>Requirements</h4>
      <table>
        <tr>
          <td style="width:33%;">Software:</td>
          <td>
            <ol>
              <li>macOS 10.13 or above</li>
              <li>Office for macOS</li>
              <li>Rosetta 2 (M1/M2 CPUs)</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>Permissions (Per User):</td>
          <td>
            <ol>
              <li>Local Installation Rights</li>
              <li>Full Disk Access</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>Permissions (All Users):</td>
          <td>
            <ol>
              <li>Microsoft 365 Admin (Intune)</li>
              <li>Full Disk Access</li>
            </ol>
          </td>
        </tr>
      </table>
      <a aria-role="button" class="cp-btn" href="https://outlookclient.exclaimer.net/csua/Exclaimer%20Signature%20Agent-1.1.0.83.dmg">Download for macOS ></a>
      <h4>Installation</h4>
      <p>To install the Exclaimer Signature Agent, please click on the "Download for macOS" button. Once downloaded, mount the .dmg file, then run the .pkg installer to install the agent. Once the agent is installed, you will be prompted to sign in to Office 365 to grant permissions for the agent. Any signatures assigned to you will then automatically be downloaded for you to use in Outlook and Apple Mail.</p>
      <p>If you are an administrator who would like to install the agent across a network, then you can use the .pkg installer with your administration software.</p>
    </div>
  </div>
  <div class="cp-container-footer">
    <h3>Support</h3>
    <p class="body-content">If you have any problems, then please visit our support website for more information. From there you will be able to contact support if required. <a href="https://support.portal.exclaimer.com/hc/en-gb" title="Visit the Exclaimer support website" target="_exclaimer_support">Visit support now ></a></p>
  </div>
</div>