<div class="container">
    <div class="section-header">
        <h1>Raise a ticket</h1>
        <p>Select an option from below to raise a ticket.</p>
    </div>
    <div id="formSelector" class="form-selector">
        <a id="technicalButton" href="{{page_path 'help_center'}}/requests/new?ticket_form_id=20921216052125"
            class="form-selector-btn" aria-label="tech">Technical
            Support</a>
        <a id="accountButton" href="{{page_path 'help_center'}}/requests/new?ticket_form_id=20921194890013"
            class="form-selector-btn" aria-label="account">Account
            Services</a>
    </div>
</div>