<div class="container">
    <div class="section-header">
        <h1>Raise a ticket</h1>
        <p>Select an option from below to raise a ticket.</p>
    </div>
    <div id="formSelector" class="form-selector">
        <a href="{{page_path 'help_center'}}/requests/new?ticket_form_id=20830571495197" class="form-selector-btn"
            aria-label="tech">Technical
            Support</a>
        <a href="{{page_path 'help_center'}}/requests/new?ticket_form_id=20830579866909" class="form-selector-btn"
            aria-label="account">Account
            Services</a>
        <a href="{{page_path 'help_center'}}/requests/new?ticket_form_id=20830564781469" class="form-selector-btn"
            aria-label="knowledge">Knowledgebase Feedback</a>
    </div>
</div>