<div class="container">
    <div class="video-library">
                
        <div id="videoFilter" class="video-filter">
            <button onClick="filterVideos('video-all')" class="btn-filter">Show all</button>
        </div>

        <div id="videos" class="videos">
            <script src="https://fast.wistia.com/assets/external/E-v1.js" async="async"></script>
        </div>

    </div>
</div>