<div class="vte">
  <div class="vte-jumbo">
    <h2>Visual Trial Experience</h2>
    <h3>Frequently Asked Questions</h3>
  </div>
  <div class="vte-container">
    <div class="vte-container-col1">
      <div class="vte-accord">
        <input type="checkbox" id="vteTabOne" class="vte-accord-checker" name="tabs"/>
        <label for="vteTabOne" class="vte-accord-question">Can I change the layout of the signature?</label>
        <div class="vte-accord-answer">
          <p>Yes, you can change the layout in the Signature Designer.</p>
          <p>In the limited designer, use the <strong>Templates</strong> tab on the sidebar to test out the (popular) pre-configured layouts. When ready, you can customize the layouts to suit your requirements within the Signature Designer.</p>
        </div>
      </div>

      <div class="vte-accord">
        <input type="checkbox" id="vteTabTwo" class="vte-accord-checker" name="tabs"/>
        <label for="vteTabTwo" class="vte-accord-question">How do I fill in my details automatically using Sign in with Microsoft or Sign in with Google?</label>
        <div class="vte-accord-answer">
          <p>If you normally sign into your work account using Microsoft or Google account details, then please continue to do that here as well. This will allow us to automatically retrieve your details, and you won’t have to manually enter them.</p>
          <p>As required, click <strong>Sign in with Microsoft</strong> or <strong>Sign in with Google</strong> and follow the instructions.</p>
        </div>
      </div>

      <div class="vte-accord">
        <input type="checkbox" id="vteTabFive" class="vte-accord-checker" name="tabs"/>
        <label for="vteTabFive" class="vte-accord-question">Can I use my own font?</label>
        <div class="vte-accord-answer">
          <p>The limited designer has set fonts that are known to work well on the internet (aka web-safe fonts).</p>
          <p>When ready to progress into the full Signature Designer, you can specify custom fonts.</p>
        </div>
      </div>
    </div>
    <div class="vte-container-col2">
      <div class="vte-accord">
        <input type="checkbox" id="vteTabThree" class="vte-accord-checker" name="tabs"/>
        <label for="vteTabThree" class="vte-accord-question">How can I get a signature on my own emails?</label>
        <div class="vte-accord-answer">
          <p>When you’ve finished designing a signature in the limited designer, click <strong>Let’s use this signature</strong> to send an email to yourself demonstrating how your signature will look.</p>
          <p>You can add a signature directly to your emails once you have configured Exclaimer Cloud.</p>
        </div>
      </div>

      <div class="vte-accord">
        <input type="checkbox" id="vteTabFour" class="vte-accord-checker" name="tabs"/>
        <label for="vteTabFour" class="vte-accord-question">How do I upload my own images?</label>
        <div class="vte-accord-answer">
          <p>Select the <strong>Image</strong> tab on the sidebar, then click <strong>Upload Image</strong> to upload a company logo or profile photo.</p>
          <p>You can either:</p>
          <ul>
            <li>Upload a local file (saved on your computer)</li>
            <li>Add a direct link to a web-hosted image</li>
          </ul>
        </div>
      </div>

      <div class="vte-accord">
        <input type="checkbox" id="vteTabSix" class="vte-accord-checker" name="tabs"/>
        <label for="vteTabSix" class="vte-accord-question">Can I add other Social Media icons?</label>
        <div class="vte-accord-answer">
          <p>Yes, you can add other social media icons in the Signature Designer. </p>
          <p>The limited designer allows you to explore some social media icons for testing purposes. When you are ready to process into the full signature designer, you can select from a large range of icons and, if required, upload the custom icons. </p>
        </div>
      </div>
    </div>
  </div>
</div>