<footer class="footer">
  <div class="footer-inner">
    <span class="footer-logo">
      <span class="footer-logo-icon">
        <img src="{{asset 'navy-icon.svg'}}" alt="{{t 'home_page' name=help_center.name}}" />
      </span>
      © 2024 Exclaimer. All rights reserved.
    </span>
    <div class="footer-additional-links">
      <a href="" title="Terms of Service">Terms of Service</a>
      <a href="" title="Privacy Policy">Privacy Policy</a>
      <a href="" title="Cookie Policy">Cookie Policy</a>
      <a href="" title="Service Status">Service Status</a>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{asset 'owl.carousel.min.js'}}"></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>