<footer class="footer">
  <div class="footer-inner">
    <span class="footer-logo">
      <span class="footer-logo-icon">
        <img src="{{asset 'navy-icon.svg'}}" alt="{{t 'home_page' name=help_center.name}}" />
      </span>
      © 2024 Exclaimer. All rights reserved.
    </span>
    <div class="footer-additional-links">
      <a href="https://exclaimer.com/legal/website-terms-and-conditions/" title="Terms of Service" target="_blank">Terms
        of Service</a>
      <a href="https://exclaimer.com/legal/privacy-policy/" title="Privacy Policy" target="_blank">Privacy Policy</a>
      <a href="https://exclaimer.com/legal/cookie-policy/" title="Cookie Policy" target="_blank">Cookie Policy</a>
      <a href="https://status.exclaimer.com/" title="Service Status" target="_blank">Service Status</a>
    </div>
  </div>
</footer>

<script>
  function copyURL(button, url) {
    // Create a temporary input element
    var tempInput = document.createElement("input");
    // Set its value to the URL
    tempInput.value = url;
    // Append the input element to the body
    document.body.appendChild(tempInput);
    // Select the input content
    tempInput.select();
    tempInput.setSelectionRange(0, 99999); /* For mobile devices */
    // Copy the selected content
    document.execCommand("copy");
    // Remove the temporary input element
    document.body.removeChild(tempInput);
    // Change the button text to "Copied"
    button.innerText = "Copied";
    button.classList.add("btn-copied");

    // Return to defaults
    setTimeout(function () {
      button.innerText = "Copy URL";
      button.classList.remove("btn-copied");
    }, 2000);
  }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{{asset 'owl.carousel.min.js'}}"></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>