<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section class="section hero">
  <div class="hero-inner">
    <h2><strong>How can we help?</strong></h2>
    <p>Start by typing a question or topic below.</p>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<section class="section whats-new">
  <div class="container whats-new-container">
    <a href="https://support.portal.exclaimer.com/hc/en-gb/articles/360050180772" title="Whats new in Exclaimer Cloud" class="whats-new-link">
      <h3>Whats new in Exclaimer Cloud</h3>    
      <p class="whats-new-p">Releases and changes to Exclaimer Cloud</p>
</a>
    <a href="https://support.portal.exclaimer.com/hc/en-gb/articles/360050180772" title="Whats new in Exclaimer Cloud" class="whats-new-btn">
      Read more
    </a>
  </div>
</section>

<section class="main-section">
  <div class="left-col">
    <h2 class="home-categories__header">Choose a category below</h2>
      <ul class="home-categories">
        <li>
          <a href="/hc/en-gb/sections/360009924811-Welcome">Welcome home</a>
        </li>
        {{!-- <li>
          <a href="/hc/en-gb/sections/360009924831-Configuration">Configuration</a>
          <ul class="home-categories__sub">
            <li>
              <a href="/hc/en-gb/sections/360009924851-Connect-to-Microsoft-365">Connect to Microsoft 365</a>
            </li>
            <li>
              <a href="/hc/en-gb/sections/360009924871-Manage-User-Data">Manage User Data</a>
            </li>
            <li>
              <a href="/hc/en-gb/sections/360009924891-Manage-Mail-Flow">Manage Mail Flow</a>
            </li>
            <li>
              <a href="/hc/en-gb/sections/360009806832-Outlook-Signatures">Outlook Signatures</a>
            </li>
          </ul>
        </li> --}}
        <li>
          <a href="/hc/en-gb/sections/360009806852-Signatures" class="border-top">Signatures</a>
          <ul class="home-categories__sub">
            <li>
              <a href="">Create Signature</a>
            </li>
            <li>
              <a href="">Create Folder</a>
            </li>
            <li>
              <a href="/hc/en-gb/articles/360049345552-Edit-Signature-Design">Edit Signature Design</a>
            </li>
            <li>
              <a href="/hc/en-gb/articles/360049275992-Manage-Signatures-Rules">Manage Signature Rules</a>
            </li>
            <li>
              <a href="/hc/en-gb/articles/360049825771-FOLDER-SECURITY">Folder Security</a>
            </li>
          </ul>
        </li>
        {{!-- <li>
          <a href="/hc/en-gb/sections/360009806872-Account-Settings">Account Settings</a>
        </li>
        <li>
          <a href="/hc/en-gb/sections/360009924911-Troubleshooting">Troubleshooting</a>
        </li> --}}
        <li>
          <a href="/hc/en-gb/sections/360009924811-Welcome">Glossary</a>
        </li>
      </ul>
  </div>  
  <div class="right-col">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </div>
</section>
