<div class="container">
  <header class="category-header">
    <h1>{{dc 'kb_raiseTicket'}}</h1>
  </header>
  <div id="formSelector" class="form-selector">
    <a id="technicalButton" href="{{page_path 'help_center'}}/requests/new?ticket_form_id=20921216052125"
      class="form-selector-btn form-selector-btn-smaller" aria-label="tech">Technical
      Support</a>
    <a id="accountButton" href="{{page_path 'help_center'}}/requests/new?ticket_form_id=20921194890013"
      class="form-selector-btn form-selector-btn-smaller" aria-label="account">Account
      Services</a>

  </div>
  <h2 id="formTitle"></h2>
  <div class="form">
    {{request_form wysiwyg=true}}
  </div>
</div>